@import 'colors.css';

input[type=button], .typeButton {
  
  background-color:  var(--button-bg-color);
  border: none;
  margin: 0.2em;
  padding-block: 0.3em;
  padding-inline: 0.9em;
  font-size: 0.9em;
  color:var(--button-text-color);

  transition: all 0.1s;

  &:hover {
    /*outline: 0.2em solid var(--button-hover-text-color);*/
    background-color: var(--button-hover-color);
    color: var(--button-hover-text-color);
  }
  
  &:active {
    background: var(--highlight-sub-color);
    color: var(--button-active-text-color);
  }

  &.active {
    background: var(--button-focus-color);
    color: var(--button-focus-text-color);

    &:hover {
      /*outline: 0.2em solid var(--button-focus-hover-text-color);*/
      background-color: var(--button-focus-hover-color);
      color: var(--button-focus-hover-text-color);
    }
    
    &:active {
      background: var(--highlight-sub-color);
      color: var(--button-active-text-color);
    }
  }
  
  &.deleteButton {
    margin: 0;
    border: none;
    border-radius: 30%;
    background-color: transparent;
    background: url(../../imgs/icons/delete.png) no-repeat;
    background-size: 1.7em;
    background-position: center;
    width: 2em;
    height: 2em;
    &:hover {
      outline: none;
      background-color: var(--shadow-color);
    }
  }
  
  &.saveButton {
    margin: 0;
    border: none;
    border-radius: 30%;
    background-color: transparent;
    background: url(../../imgs/icons/check.png) no-repeat;
    background-size: 1.7em;
    background-position: center;
    width: 2em;
    height: 2em;
    &:hover {
      outline: none;
      background-color: var(--shadow-color);
    }
  }
  
  &.editButton {
    margin: 0;
    border: none;
    border-radius: 30%;
    background-color: transparent;
    background: url(../../imgs/icons/edit.png) no-repeat;
    background-size: 1.7em;
    background-position: center;
    width: 2em;
    height: 2em;
    &:hover {
      outline: none;
      background-color: var(--shadow-color);
    }
  }
  
  &.addButton {
    margin: 0;
    border: none;
    border-radius: 30%;
    background-color: transparent;
    background: url(../../imgs/icons/add.png) no-repeat;
    background-size: 1.7em;
    background-position: center;
    width: 2em;
    height: 2em;
    &:hover {
      outline: none;
      background-color: var(--shadow-color);
    }
  }
  
  &.hideButton {
    margin: 0;
    border: none;
    background: url(../../imgs/icons/hidden.png) no-repeat;
    background-color: transparent;
    background-size: 1.5em;
    background-position: center;
    transform: rotate(-90deg);
    
    width: 2em;
    height: 2em;
    transition: transform 0.1s;
      
    &:hover {
      outline: none;
    }

    &.show {
      transform: rotate(-180deg);
    }
  } 
}
