:root {
  --color1: #264057;
  --color2: #507ea7;
  --color3: #5a2c2c;
  --color4: #cf9a9a;
  --color5: #43683a;
  --color6: #9bd38e;
  --color7: #857807;
  --color8: #cedf81;
  --alpha:  50%;

  --text-color: white;

  --shadow-color: #6464644f;
  --shadow2-color: #5c5c5c79;
  --lighting-color: #ffffff2a;
  --lighting2-color: #ffffff6c;
  --lighting3-color: #ffffffa2;

  --bg-color: rgb(70, 70, 70);
  --sub-color: rgb(49, 59, 82);
  --l-sub-color: rgb(82, 96, 131);
  --d-sub-color: rgb(27, 32, 43);
  --highlight-sub-color: rgb(212, 224, 102);
  --focus-sub-color: rgb(66, 102, 33);
  --l-focus-sub-color: rgb(96, 138, 56);

  /* Div */
  --div-bg-color: var(--lighting2-color);
  --div-br-color: var(--lighting3-color);
  
  --div-success-br-color: var(--color6);
  --div-success-bg-color: color-mix(in srgb, var(--color6), transparent var(--alpha));
  
  --div-warning-br-color: var(--color8);
  --div-warning-bg-color: color-mix(in srgb, var(--color8), transparent var(--alpha));
  
  --div-error-br-color: var(--color4);
  --div-error-bg-color: color-mix(in srgb, var(--color4), transparent var(--alpha));

  /* Text */
  --text-bg-color: var(--shadow-color);
  --text-br-color: var(--lighting3-color);
  
  /* Button */
  --button-bg-color: var(--sub-color);
  --button-text-color: var(--text-color);

  --button-hover-color: var(--l-sub-color);
  --button-hover-text-color: var(--text-color);

  --button-active-color: var(--highlight-sub-color);
  --button-active-text-color: var(--sub-color);

  --button-focus-color: var(--focus-sub-color);
  --button-focus-text-color: var(--text-color);
  
  --button-focus-hover-color: var(--l-focus-sub-color);
  --button-focus-hover-text-color: var(--text-color);

  /* Range */
  --range-bg-color: var(--sub-color);
  --thumb-hover-color: var(--focus-sub-color);
  --thumb-active-color: var(--highlight-sub-color);

  
}